<<<<<<< HEAD


<div class="shops">
  <h1 class="shops__title">Shops</h1>
  <div class="shops__items">
      <div class="shops__item">
    <div class="shops__item__title">Shop Name</div>
    <div class="shops__buttons">
      <div class="shops__buttons__edit">
        <button>Edit</button>
      </div>

      <div class="shops__buttons__delete">
        <button>Delete</button>
      </div>
    </div>

  </div>
     </div>
  <div class="addShops">
    <button>Add Shops</button>
  </div>
</div>
=======
{{!-- The following component displays Ember's default welcome message. --}}
{{welcome-page}}
{{!-- Feel free to remove this! --}}

>>>>>>> 9591062999fdb65876d678944ccdfc34b58573d6
{{outlet}}