<div class="product-block">
  <h1>{{model.name}}</h1>

  <div class="product-list">
    <ul class="product-title">
      <li>name</li>
      <li>qty</li>
      <li>price</li>
    </ul>
    <ul class="">
      <li>name</li>
      <li>qty</li>
      <li>price</li>
      <li>
        <i class="fas fa-pencil-alt"></i>
        <i class="far fa-trash-alt"></i></li>
    </ul>
  </div>
</div>